* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Post No Bills Colombo Medium";
  src: url("../fonts/post-no-bills-colombo.medium.ttf");
}

#augsejaisBaneris {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 84.28%;
  background: #073590;
}

#homePage {
  position: absolute;
  left: 0%;
  font-family: Post No Bills Colombo Medium;
  font-size: 96px;
  display: flex;
  margin-left: 20px;
  color: #ffffff;
  user-select: none;
}

#apaksejaisBaneris {
  position: absolute;
  top: 15.72%;
  right: 0px;
  left: 0px;
  min-height: 100vh;
  height: auto !important;
  background: rgba(186, 182, 182, 0.53);
}

#apaksejaisBanerisUpdate{
  position: absolute;
  top: 15.72%;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: rgba(186, 182, 182, 0.53);
}

#atgriezties_admin {
  position: absolute;
  width: 152px;
  height: 50.63px;
  left: 89.1%;
  top: 35.4%;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

#pievienot{
  width: 100px;
  height: 30px;
  background: #f1c933;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  margin-left: 10px; 
}

.teksts{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}

.input{
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#dzest{
  width: 100px;
  height: 30px;
  background: #FF0000;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  margin-top: 10px;
  margin-left: 10px;
}

#labot{
  width: 100px;
  height: 30px;
  background: #ababab;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dbteksts{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #000000;
  padding-left: 10px;
}

#virsraksts{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: #000000;
}

#apaksraksts{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #000000;
}

.tabula{
  border-collapse: collapse;
  border: solid 2px #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#form{
  text-align:center;
}