* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Post No Bills Colombo Medium";
  src: url("../fonts/post-no-bills-colombo.medium.ttf");
}

.augsejaisBaneris {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 84.28%;
  background: #073590;
}

.virsraksts {
  position: absolute;
  left: 0%;
  font-family: Post No Bills Colombo Medium;
  font-size: 96px;
  display: flex;
  margin-left: 20px;
  color: #ffffff;
  user-select: none;
}

#iziet {
  position: absolute;
  width: 152px;
  height: 50.63px;
  left: 89.1%;
  top: 35.4%;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.apaksejaisBaneris {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15.72%;
  bottom: 0%;
  background: rgba(186, 182, 182, 0.53);
}

.pamatne {
  position: absolute;
  left: 9.17%;
  right: 9.17%;
  top: 9.03%;
  bottom: 9.12%;
  background: #ffffff;
  border-radius: 10px;
}

#apaksvirsraksti {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  display: flex;
  color: #000000;
  width: 300px;
}

#input {
  position: absolute;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 883px;
  height: 40px;
}

#inputMazais {
  position: absolute;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 307px;
  height: 40px;
}

.miniapaksa {
  position: absolute;
  left: 25.36%;
  top: 21.94%;
  width: 945px;
  height: 559px;
  background: #ffffff;
  border-radius: 10px;
}

#form {
  position: absolute;
  left: 25.36%;
  top: 21.94%;
  width: 945px;
  height: 559px;
  background: #ffffff;
  border-radius: 10px;
}

.miniAugsa {
  position: absolute;
  width: 945px;
  height: 77.89px;
  left: 0px;
  top: 0px;
  background: #073590;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#miniVirsraksts {
  position: absolute;
  left: 2.01%;
  top: 3.76%;
  width: 200px;
  height: 50px;
  top: 14px;
  left: 19px;
  font-family: Post No Bills Colombo Medium;
  font-style: normal;
  font-size: 36px;
  display: flex;
  color: #ffffff;
}

#atcelt {
  position: absolute;
  width: 154px;
  height: 48px;
  background: #ababab;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.atcelt {
  left: 62.12%;
  top: 82.83%;
}

.atceltLielakaDala {
  left: 62.12%;
  top: 89.45%;
}

.dzeltenaPoga {
  position: absolute;
  width: 154px;
  height: 48px;
  background: #f1c933;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

#popUp9 {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#superMiniForm {
  position: absolute;
  left: 17.88%;
  top: 17.71%;
  width: 607px;
  height: 361px;
  background: #ffffff;
  border-radius: 10px;
}

.superMiniAugsa {
  position: absolute;
  width: 607px;
  height: 50, 3px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 86.07%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #073590;
}

#superMiniVirsraksts {
  position: absolute;
  left: 2.97%;
  top: 15%;
  width: 90px;
  font-family: Post No Bills Colombo;
  font-size: 24px;
  display: flex;
  color: #ffffff;
}

.tTiesam {
  position: absolute;
  left: 24.71%;
  right: 24.55%;
  top: 46.26%;
  bottom: 46.26%;
  width: 308px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  text-transform: uppercase;
  color: #000000;
}

#turpinat {
  position: absolute;
  left: 64.38%;
  right: 6.3%;
  top: 77.42%;
  bottom: 6.45%;
  width: 154px;
  height: 48px;
  background: #fa1818;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.atceltMini {
  position: absolute;
  left: 6.3%;
  right: 63.56%;
  top: 77.88%;
  bottom: 6.45%;
  width: 154px;
  height: 48px;
  background: #ababab;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

#lidostas{
  position: absolute;
  width: 549px;
  height: 300px;
  left: 10.01%;
  right: 54.97%;
  top: 3.36%;
  bottom: 51.14%;
  background: #c4c4c4;
  border-radius: 10px;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  cursor: pointer;
}

#lidmasinas{
  position: absolute;
  width: 549px;
  height: 300px;
  left: 54.97%;
  right: 10.01%;
  top: 3.36%;
  bottom: 51.95%;
  background: #c4c4c4;
  border-radius: 10px;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  cursor: pointer;
}

#reisi{
  position: absolute;
  width: 549px;
  height: 300px;
  left: 10.01%;
  right: 54.97%;
  top: 51.54%;
  bottom: 2.95%;
  background: #c4c4c4;
  border-radius: 10px;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  cursor: pointer;
}

#skatitStatistiku {
  position: absolute;
  width: 549px;
  height: 300px;
  left: 54.97%;
  right: 10.01%;
  top: 51.54%;
  bottom: 2.95%;
  background: #c4c4c4;
  border-radius: 10px;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  cursor: pointer;
}