* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Post No Bills Colombo Medium";
  src: url("../fonts/post-no-bills-colombo.medium.ttf");
}

.augsejaisBaneris {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 84.28%;
  background: #073590;
}

.virsraksts {
  position: absolute;
  left: 0%;
  font-family: Post No Bills Colombo Medium;
  font-size: 96px;
  display: flex;
  margin-left: 20px;
  color: #ffffff;
  user-select: none;
}

.apaksejaisBaneris {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15.72%;
  bottom: 0%;
  background: rgba(186, 182, 182, 0.53);
}

#atgriezties_admin {
  position: absolute;
  width: 152px;
  height: 50.63px;
  left: 89.1%;
  top: 35.4%;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

#apaksvirsraksti {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  display: flex;
  color: #000000;
  width: 300px;
}

#input {
  position: absolute;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 883px;
  height: 40px;
}

.lidmasinas {
  position: absolute;
  left: 9.79%;
  right: 9.86%;
  top: 8.34%;
  bottom: 73.35%;
  background: #ffffff;
  border-radius: 10px;
}

.nosaukumi {
  position: absolute;
  left: 0%;
  right: 90.8%;
  top: 0.15%;
  bottom: 75.84%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  display: flex;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

#pievienotLidmasinas {
  position: absolute;
  width: 286.67px;
  height: 75.94px;
  left: 15.47%;
  right: 65.95%;
  top: 41.14%;
  bottom: 13.29%;
  background: #c4c4c4;
  border-radius: 10px;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  cursor: pointer;
}

#labotLidmasinas {
  position: absolute;
  width: 286.67px;
  height: 75.94px;
  left: 38.46%;
  right: 42.96%;
  top: 41.14%;
  bottom: 13.29%;
  background: #c4c4c4;
  border-radius: 10px;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  cursor: pointer;
}

#dzestLidmasinas {
  position: absolute;
  width: 286.67px;
  height: 75.94px;
  left: 61.45%;
  right: 19.97%;
  top: 41.14%;
  bottom: 13.29%;
  background: #c4c4c4;
  border-radius: 10px;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  cursor: pointer;
}

#popUp3 {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#popUp4 {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#popUp5 {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.miniapaksa {
  position: absolute;
  left: 25.36%;
  top: 21.94%;
  width: 945px;
  height: 559px;
  background: #ffffff;
  border-radius: 10px;
}

.miniAugsa {
  position: absolute;
  width: 945px;
  height: 77.89px;
  left: 0px;
  top: 0px;
  background: #073590;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#miniVirsraksts {
  position: absolute;
  left: 2.01%;
  top: 3.76%;
  width: 200px;
  height: 50px;
  top: 14px;
  left: 19px;
  font-family: Post No Bills Colombo Medium;
  font-style: normal;
  font-size: 36px;
  display: flex;
  color: #ffffff;
}

#atcelt {
  position: absolute;
  width: 154px;
  height: 48px;
  background: #ababab;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.atcelt {
  left: 62.12%;
  top: 82.83%;
}

.atceltLielakaDala {
  left: 62.12%;
  top: 89.45%;
}

.dzeltenaPoga {
  position: absolute;
  width: 154px;
  height: 48px;
  background: #f1c933;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

#pievienotLidmasinasPoga {
  left: 80.63%;
  top: 89.45%;
}

#labotLidmasinasPoga {
  left: 80.63%;
  top: 89.45%;
}

#dzestLidmasinasPoga {
  left: 80.63%;
  top: 89.45%;
}

.tIzveletiesLidostu {
  left: 3.28%;
  top: 16.64%;
}

.tPievienotModeli {
  left: 3.39%;
  top: 33.45%;
}

.tPievienotRazosanasGads {
  left: 3.39%;
  top: 49.91%;
}

.tPievienotVietuSkaits {
  left: 3.39%;
  top: 68.34%;
}

.izveletiesLidostu {
  left: 3.49%;
  top: 21.65%;
}

.pievienotModeli {
  left: 3.49%;
  top: 38.46%;
}

.pievienotRazosanasGads {
  left: 3.49%;
  top: 55.81%;
}

.pievienotVietuSkaits {
  left: 3.49%;
  top: 74.06%;
}


.tLabotLidmasinas {
  left: 3.28%;
  top: 16.64%;
}

.tLabotModeli {
  left: 3.39%;
  top: 33.45%;
}

.tLabotRazosanasGads {
  left: 3.39%;
  top: 49.91%;
}

.tLabotVietuSkaits {
  left: 3.39%;
  top: 68.34%;
}

.labotLidmasinas {
  left: 3.49%;
  top: 21.65%;
}

.labotModeli {
  left: 3.49%;
  top: 38.46%;
}

.labotRazosanasGads {
  left: 3.49%;
  top: 55.81%;
}

.labotVietuSkaits {
  left: 3.49%;
  top: 74.06%;
}

.tIzveletiesModeli {
  left: 3.28%;
  top: 32.02%;
}

.izveletiesModeli {
  left: 3.39%;
  top: 37.03%;
}