* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Post No Bills Colombo Medium";
  src: url("../fonts/post-no-bills-colombo.medium.ttf");
}

.augsejaisBaneris {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 50%;
  background: #073590;
}

.virsraksts {
  position: absolute;
  left: 0%;
  font-family: Post No Bills Colombo Medium;
  font-size: 96px;
  display: flex;
  margin-left: 20px;
  color: #ffffff;
  user-select: none;
}

#iziet {
  position: absolute;
  left: 90%;
  top: 30%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  user-select: none;
}

#ienakt {
  position: absolute;
  left: 90.35%;
  right: 1.74%;
  top: 4.55%;
  bottom: 85.97%;
  background: #ffffff;
  border-radius: 8px;
  width: 152px;
  height: 51.23px;
  font-size: 15px;
  color: #073590;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

#admin {
  position: absolute;
  left: 69.24%;
  right: 21.46%;
  top: 4.49%;
  bottom: 86.02%;
  background: #ffffff;
  border-radius: 8px;
  width: 178.67px;
  height: 51.23px;
  font-size: 15px;
  color: #073590;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

#rezervacijas {
  position: absolute;
  left: 79.79%;
  right: 10.9%;
  top: 4.49%;
  bottom: 86.02%;
  background: #ffffff;
  border-radius: 8px;
  width: 178.67px;
  height: 51.23px;
  font-size: 15px;
  color: #073590;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.apaksejaisBaneris {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 50%;
  bottom: 0%;
  background: rgba(186, 182, 182, 0.53);
}

#main_menu {
  position: absolute;
  left: 18.96%;
  right: 55.56%;
  top: 50%;
  bottom: 40.43%;
  width: 489.33px;
  height: 48.45px;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
  border: 1px solid transparent;
  padding-right: 20px;
}

#sub_menu {
  position: absolute;
  left: 45%;
  right: 29.9%;
  top: 70%;
  bottom: 40.93%;
  width: 489.33px;
  height: 48.45px;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
  border: 1px solid transparent;
  padding-right: 20px;
}

.mekletNo {
  position: absolute;
  left: 18.96%;
  right: 55.56%;
  top: 50%;
  bottom: 40.43%;
  width: 489.33px;
  height: 48.45px;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
  border: 1px solid transparent;
  padding-right: 20px;
}

.mekletUz {
  position: absolute;
  left: 45%;
  right: 29.9%;
  top: 50%;
  bottom: 40.93%;
  width: 489.33px;
  height: 48.45px;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
  border: 1px solid transparent;
  padding-right: 20px;
}

#meklet {
  position: absolute;
  left: 71%;
  right: 18.99%;
  top: 50.19%;
  bottom: 40.33%;
  width: 205.33px;
  height: 51.23px;
  background: #f1c933;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

#datumsTurp {
  position: absolute;
  left: 18.96%;
  right: 55.57%;
  top: 62%;
  bottom: 30.74%;
  border-radius: 10px;
  width: 240px;
  height: 51px;
  padding-left: 20px;
  outline: none;
  border: 1px solid transparent;
}

#datumsAtpakal {
  position: absolute;
  left: 32%;
  right: 55.57%;
  top: 62%;
  bottom: 30.74%;
  border-radius: 10px;
  width: 240px;
  height: 51px;
  padding-left: 20px;
  outline: none;
  border: 1px solid transparent;
}

#popUp {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.form-box {
  position: fixed;
  left: 38.54%;
  right: 38.54%;
  top: 24.54%;
  bottom: 24.54%;
  width: 440px;
  height: 550px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.miniAugsa {
  position: absolute;
  width: 440px;
  height: 79px;
  left: 0x;
  top: 0px;
  background: #073590;
}

#miniVirsraksts {
  position: absolute;
  left: 4.77%;
  top: 15%;
  width: 230px;
  height: 58px;
  font-family: Post No Bills Colombo Medium;
  font-style: normal;
  font-size: 36px;
  display: flex;
  color: #ffffff;
  user-select: none;
}

.button-box {
  top: 80px;
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  user-select: none;
}

.toggle-btn {
  width: 98px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  left: 0;
  position: absolute;
  width: 98px;
  height: 100%;
  background: #f1c933;
  border-radius: 30px;
  transition: 0.5s;
}

.input-group {
  top: 200px;
  position: absolute;
  width: 320px;
  height: 260px;
  transition: 0.5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  padding-bottom: 10px;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 80%;
  height: 40px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #f1c933;
  border: none;
  outline: none;
  border-radius: 30px;
  user-select: none;
}

.check-box {
  margin: 30px 10px 30px 0;
  width: 25px;
  height: 25px;
}

span {
  color: #777;
  font-size: 12px;
  bottom: 118px;
  position: absolute;
}

.piekritNoteikumiem {
  left: 30px;
  color: #777;
  font-size: 12px;
  bottom: 110px;
  position: absolute;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}

.carousel-container {
  position: absolute;
  left: 2.43%;
  right: 51.74%;
  top: 10%;
  bottom: 12%;
  width: 880px;
  height: 409.25px;
  border: 5px solid #073590;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  user-select: none;
}

.carousel-slide,
.carousel-slide2 {
  display: flex;
  position: absolute;
}

#prevBtn,
#prevBtn2 {
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

#nextBtn,
#nextBtn2 {
  position: absolute;
  top: 50%;
  z-index: 1;
  right: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

.attels {
  width: 880px;
  height: 409.25px;
}

.carousel-container2 {
  position: absolute;
  left: 50.9%;
  right: 3.26%;
  top: 10%;
  bottom: 11.81%;
  width: 880px;
  height: 409.25px;
  border: 5px solid #073590;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
}

.celojumaVeids1 {
  position: absolute;
  width: 100px;
  height: 20px;
  left: 46%;
  right: 55.57%;
  top: 65.5%;
  bottom: 30.74%;
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.celojumaVeids2 {
  position: absolute;
  width: 100px;
  height: 20px;
  font-size: 18px;
  left: 52%;
  right: 55.57%;
  top: 65.5%;
  bottom: 30.74%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.radio1 {
  position: absolute;
  left: 45%;
  right: 55.57%;
  top: 66%;
  bottom: 30.74%;
}

.radio2 {
  position: absolute;
  left: 51%;
  right: 55.57%;
  top: 66%;
  bottom: 30.74%;
}

input[type='radio'] {
  height: 15px;
  width: 15px;
  vertical-align: middle;
}