* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Post No Bills Colombo Medium";
  src: url("../fonts/post-no-bills-colombo.medium.ttf");
}

.augsejaisBaneris {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 84.28%;
  background: #073590;
}

.virsraksts {
  position: absolute;
  left: 0%;
  font-family: Post No Bills Colombo Medium;
  font-size: 96px;
  display: flex;
  margin-left: 20px;
  color: #ffffff;
  user-select: none;
}

#login {
  position: absolute;
  left: 89.79%;
  right: 2.29%;
  top: 35.4%;
  bottom: 34.78%;
  background: #ffffff;
  border-radius: 8px;
  width: 152px;
  height: 51.23px;
  font-size: 15px;
  color: #073590;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

#rezervacijas {
  position: absolute;
  left: 79.22%;
  right: 11.48%;
  top: 35.33%;
  bottom: 34.85%;
  background: #ffffff;
  border-radius: 8px;
  width: 178.67px;
  height: 51.23px;
  font-size: 15px;
  color: #073590;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.apaksejaisBaneris {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15.72%;
  bottom: 0%;
  background: rgba(186, 182, 182, 0.53);
}

#kalendars {
  position: absolute;
  left: 9.79%;
  right: 72.78%;
  top: 5.45%;
  bottom: 88.76%;
  width: 334.67px;
  height: 52.73px;
  background: #ffffff;
  border-radius: 10px;
}

.fons {
  position: absolute;
  left: 9.79%;
  right: 9.86%;
  top: 17.27%;
  bottom: 64.43%;
  width: 1542.67px;
  height: 166.64px;
  background: #ffffff;
  border-radius: 10px;
}

.reisaNumurs {
  position: absolute;
  left: 2.42%;
  right: 89.37%;
  top: 7.59%;
  bottom: 81.01%;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01px;
  color: #898181;
}

.lidmasina {
  position: absolute;
  left: 32.07%;
  right: 38.2%;
  top: 29.75%;
  bottom: 44.3%;
  width: 458.67px;
  height: 43.24px;
}

.pasazieris {
  position: absolute;
  left: 9.93%;
  right: 9.86%;
  top: 41.6%;
  bottom: 16.92%;
  width: 1540px;
  height: 377.58px;
  background: #ffffff;
  border-radius: 10px;
}

.miniVirsraksts {
  position: absolute;
  left: 3.75%;
  right: 84.26%;
  top: 12.07%;
  bottom: 83.17%;
  font-weight: normal;
  font-size: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

#vards {
  position: absolute;
  left: 3.46%;
  right: 92.9%;
  top: 30.73%;
  bottom: 64.25%;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.vards {
  position: absolute;
  left: 3.46%;
  right: 72.29%;
  top: 38.83%;
  bottom: 50%;
  width: 373.33px;
  height: 42.19px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
}

#uzvards {
  position: absolute;
  left: 3.46%;
  right: 91.26%;
  top: 58.1%;
  bottom: 36.87%;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.uzvards {
  position: absolute;
  left: 3.46%;
  right: 72.29%;
  top: 66.2%;
  bottom: 22.63%;
  width: 373.33px;
  height: 42.19px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
}

#vecums {
  position: absolute;
  left: 32.73%;
  right: 61.3%;
  top: 28.21%;
  bottom: 66.76%;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.vecums1 {
  left: 32.73%;
  right: 61.3%;
  top: 35.75%;
  bottom: 53.07%;
  width: 92px;
  height: 42.19px;
  margin-right: 2px;
  position: absolute;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
}

.vecums2 {
  left: 39.57%;
  right: 54.46%;
  top: 35.75%;
  bottom: 53.07%;
  width: 92px;
  height: 42.19px;
  margin-right: 2px;
  position: absolute;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
}

.vecums3 {
  left: 46.41%;
  right: 45.54%;
  top: 35.75%;
  bottom: 53.07%;
  width: 92px;
  height: 42.19px;
  margin-right: 2px;
  position: absolute;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
}

#dzimums {
  position: absolute;
  left: 32.21%;
  right: 61.3%;
  top: 58.1%;
  bottom: 36.87%;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.dzimums {
  position: absolute;
  left: 32.21%;
  right: 43.55%;
  top: 66.2%;
  bottom: 22.63%;
  width: 373.33px;
  height: 42.19px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
}

#tautiba {
  position: absolute;
  left: 60.26%;
  right: 33.77%;
  top: 28.21%;
  bottom: 66.76%;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.tautiba {
  position: absolute;
  left: 60.26%;
  right: 15.5%;
  top: 35.2%;
  bottom: 53.63%;
  width: 373.33px;
  height: 42.19px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
}

#ilgums {
  position: absolute;
  left: 42.39%;
  right: 48.92%;
  top: 74.44%;
  bottom: 17.76%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.infoBilete {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 18px;
  /* or 75% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01px;
  text-transform: uppercase;

  color: #000000;
}

.reisaNumurs {
  position: absolute;
  top: 7.59%;
  bottom: 81.01%;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  /* or 112% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01px;

  color: #898181;
}

#reisaNumursTeksts {
  left: 2.42%;
  right: 89.37%;
}

#reisaNumurs {
  left: 8.75%;
  right: 83.49%;
}

#atiesanasDatums {
  position: absolute;
  left: 6.03%;
  right: 92.09%;
  top: 29.32%;
  bottom: 58.68%;
}

#atiesanasMenesis {
  position: absolute;
  left: 5.38%;
  right: 91.44%;
  top: 47.92%;
  bottom: 38.28%;
}

#atiesanasLaiks {
  position: absolute;
  left: 24.96%;
  right: 70.76%;
  top: 26.32%;
  bottom: 51.48%;
}

#atiesanasPilseta {
  position: absolute;
  left: 24.96%;
  right: 70.76%;
  top: 48.52%;
  bottom: 35.28%;
}

#ielidosanasLaiks {
  position: absolute;
  left: 65.6%;
  right: 30.45%;
  top: 30.52%;
  bottom: 55.08%;
}

#ielidosanasPilseta {
  position: absolute;
  left: 64.11%;
  right: 28.95%;
  top: 47.92%;
  bottom: 38.28%;
}

#biletesCena {
  position: absolute;
  left: 86.73%;
  right: 7.5%;
  top: 38.92%;
  bottom: 43.68%;
}

.pasazieris {
  font-family: Arial, Helvetica, sans-serif;
}

#rezervet {
  height: 50.625px;
  width: 205.33px;
  position: absolute;
  left: 79.44%;
  right: 9.86%;
  top: 91%;
  bottom: 5.33%;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;

  background: #f1c933;
  border-radius: 8px;

  font-size: large;
  color: #073590;
}

.meklet {
  position: absolute;
  width: 280px;
  height: 50px;
  left: 9.79%;
  right: 77.14%;
  top: 5.71%;
  bottom: 88.79%;

  background: #ffffff;
  border-radius: 10px;
  outline: none;
  border-style: none;

  cursor: pointer;
}

.kalendars {
  width: 29.84px;
  height: 29.84px;
  position: absolute;
  left: 6%;
  right: 82.93%;
  top: 19%;
  bottom: 20.33%;
}

.teksts {
  position: absolute;
  left: 22.71%;
  right: 6.77%;
  top: 6%;
  bottom: 0%;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  /* or 100% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01px;
  text-transform: uppercase;

  color: #000000;
}
