* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Post No Bills Colombo Medium";
  src: url("../fonts/post-no-bills-colombo.medium.ttf");
}

.augsejaisBaneris {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 50%;
  background: #073590;
}

.virsraksts {
  position: absolute;
  left: 0%;
  right: 70.97%;
  top: 0%;
  bottom: 66.21%;
  font-family: Post No Bills Colombo Medium;
  font-size: 96px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-left: 20px;
  user-select: none;
}

#login {
  position: absolute;
  left: 90.35%;
  right: 1.74%;
  top: 4.55%;
  bottom: 85.97%;
  background: #ffffff;
  border-radius: 8px;
  width: 152px;
  height: 51.23px;
  font-size: 15px;
  color: #073590;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

#rezervacijas {
  position: absolute;
  left: 79.79%;
  right: 10.9%;
  top: 4.49%;
  bottom: 86.02%;
  background: #ffffff;
  border-radius: 8px;
  width: 178.67px;
  height: 51.23px;
  font-size: 15px;
  color: #073590;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.apaksejaisBaneris {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 50%;
  bottom: 0%;
  background: rgba(186, 182, 182, 0.53);
}

.attels1 {
  position: absolute;
  left: 2.43%;
  right: 51.74%;
  top: 10%;
  bottom: 12%;
  width: 880px;
  height: 409.25px;
  border: 5px solid #073590;
  box-sizing: border-box;
  border-radius: 20px;
}

.attels2 {
  position: absolute;
  left: 50.9%;
  right: 3.26%;
  top: 10%;
  bottom: 11.81%;
  width: 880px;
  height: 409.25px;
  border: 5px solid #073590;
  box-sizing: border-box;
  border-radius: 20px;
}

#main_menu {
  position: absolute;
  left: 18.96%;
  right: 55.56%;
  top: 50%;
  bottom: 40.43%;
  width: 489.33px;
  height: 48.45px;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
  border: 1px solid transparent;
  padding-right: 20px;
}

#sub_menu {
  position: absolute;
  left: 45%;
  right: 29.9%;
  top: 70%;
  bottom: 40.93%;
  width: 489.33px;
  height: 48.45px;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
  border: 1px solid transparent;
  padding-right: 20px;
}

.mekletNo {
  position: absolute;
  left: 18.96%;
  right: 55.56%;
  top: 50%;
  bottom: 40.43%;
  width: 489.33px;
  height: 48.45px;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
  border: 1px solid transparent;
  padding-right: 20px;
}

.mekletUz {
  position: absolute;
  left: 45%;
  right: 29.9%;
  top: 50%;
  bottom: 40.93%;
  width: 489.33px;
  height: 48.45px;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
  border: 1px solid transparent;
  padding-right: 20px;
}

#meklet {
  position: absolute;
  left: 71%;
  right: 18.99%;
  top: 50.19%;
  bottom: 40.33%;
  width: 205.33px;
  height: 51.23px;
  background: #f1c933;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

#datums {
  position: absolute;
  left: 18.96%;
  right: 55.57%;
  top: 62%;
  bottom: 30.74%;
  border-radius: 10px;
  width: 220px;
  height: 51px;
  padding-left: 20px;
  outline: none;
  border: 1px solid transparent;
}

#popUp {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#form {
  position: absolute;
  left: 38.54%;
  right: 38.54%;
  top: 24.54%;
  bottom: 24.54%;
  width: 440px;
  height: 550px;
  background: #ffffff;
  border-radius: 10px;
  z-index: 1;
}

.miniAugsa {
  position: absolute;
  width: 440px;
  height: 79px;
  left: 0x;
  top: 0px;
  background: #073590;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#miniVirsraksts {
  position: absolute;
  left: 4.77%;
  right: 64.77%;
  top: 4.55%;
  bottom: 90.18%;
  width: 230px;
  height: 58px;
  font-family: "Post No Bills Colombo Medium";
  font-style: normal;
  font-size: 36px;
  display: flex;
  color: #ffffff;
}

.tEpasts {
  position: absolute;
  width: 55px;
  height: 18px;
  left: 41px;
  top: 134px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  display: flex;
  color: #000000;
}

.tParole {
  position: absolute;
  width: 41px;
  height: 18px;
  left: 43px;
  top: 227px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  display: flex;
  color: #000000;
}

#epasts {
  position: absolute;
  left: 8.18%;
  right: 8.41%;
  top: 29.27%;
  bottom: 62.55%;
  width: 367px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

#parole {
  position: absolute;
  left: 8.18%;
  right: 8.41%;
  top: 45.82%;
  bottom: 46%;
  width: 367px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

#ienakt {
  position: absolute;
  left: 32.5%;
  right: 32.5%;
  top: 61.09%;
  bottom: 30.18%;
  width: 154px;
  height: 48px;
  background: #f1c933;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.registreties {
  position: absolute;
  width: 85px;
  height: 22px;
  left: 177px;
  top: 437px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 17px;
  display: flex;
  color: #073590;
  border: none;
  display: inline-block;
  background-color: inherit;
  cursor: pointer;
}

#popUp1 {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#apstiprina {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 33px;
  top: 320px;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.noteikumi {
  position: absolute;
  left: 15.45%;
  right: 15.23%;
  top: 56.55%;
  bottom: 31.27%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

#registreties {
  position: absolute;
  left: 32.5%;
  right: 32.5%;
  top: 74.91%;
  bottom: 16.36%;
  width: 154px;
  height: 48px;
  background: #f1c933;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}
