@font-face {
  font-family: "Post No Bills Colombo Medium";
  src: url("../fonts/post-no-bills-colombo.medium.ttf");
}

.augsejaisBaneris {
  position: absolute;
  left: -0.07%;
  right: 0.07%;
  top: 0%;
  bottom: 84.28%;
  background: #073590;
}

.virsraksts {
  position: absolute;
  left: 0%;
  right: 71.74%;
  top: 0%;
  bottom: 0%;
  width: 542.67px;
  user-select: none;
  font-family: Post No Bills Colombo Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  display: flex;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

#atpakal {
  position: absolute;
  width: 152px;
  height: 50.63px;
  left: 89.1%;
  top: 35.4%;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.apaksejaisBaneris {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15.72%;
  bottom: 0%;
  background: rgba(186, 182, 182, 0.53);
}

.kalendars {
  position: absolute;
  height: 52.73px;
  left: 16.09%;
  right: 81.25%;
  top: 9.36%;
  bottom: 84.82%;
  background: #ffffff;
  border-radius: 10px;
}

.kalendarsBilde {
  position: absolute;
  width: 30.43px;
  height: 31.63px;
  left: 20.99%;
  right: 19.34%;
  top: 20%;
  bottom: 19.34%;
}

.reisaNumursKaste {
  position: absolute;
  width: 1177.33px;
  height: 53px;
  left: 20.31%;
  right: 18.37%;
  top: 9.36%;
  bottom: 84.85%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  outline: none;
}

.biletesLogs {
  position: absolute;
  left: 9.84%;
  right: 10.57%;
  top: 21.56%;
  bottom: 15.82%;
  background: #ffffff;
  border-radius: 10px;
}

.bilete {
  position: absolute;
  width: 1278px;
  height: 154px;
  left: 7%;
  right: 18.28%;
  top: 5%;
  bottom: 58.78%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.eksportet {
  position: absolute;
  width: 286.67px;
  height: 75.94px;
  left: 82.92%;
  right: 2.15%;
  top: 88.53%;
  bottom: 3.13%;
  background: #ffffff;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  border-style: none;
  cursor: pointer;
}

.eksportet:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.eksportet:active {
  box-shadow: none;
}

#datums {
  position: absolute;
  left: 2.59%;
  right: 87.12%;
  top: 17.93%;
  bottom: 17.93%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

#reisaNumurs {
  position: absolute;
  left: 29.66%;
  right: 58.14%;
  top: 31.17%;
  bottom: 42.86%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  display: flex;
  color: #000000;
}

#reisaNumursSkaitlis {
  position: absolute;
  left: 32%;
  right: 60.49%;
  top: 57.14%;
  bottom: 30.52%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  display: flex;
  color: #000000;
}

.vietasReisa {
  position: absolute;
  left: 62.91%;
  right: 26.45%;
  top: 44.16%;
  bottom: 43.51%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  display: flex;
  color: #000000;
}

#vietasReisaNumurs {
  position: absolute;
  left: 83.02%;
  right: 8.22%;
  top: 44.16%;
  bottom: 43.51%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  display: flex;
  color: #000000;
}
