<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/adminlidmasinas.css" rel="stylesheet" />
    <title>OrmondAir: Admin Lidmasinas</title>
    <link rel="icon" href="/static/img/clipart-airplane-logo-4.jpg" />
  </head>
  <body>
    <div class="augsejaisBaneris">
      <a href="/">
        <h1 class="virsraksts">OrmondAir</h1>
      </a>
      <a href="/admin">
        <button id="atgriezties_admin">Atgriezties admin</button>
      </a>
    </div>
      <div class="apaksejaisBaneris">
        <div class="lidmasinas">
          <h2 class="nosaukumi">Lidmašīnas</h2>
          <button id="pievienotLidmasinas">Pievienot</button>
          <button id="labotLidmasinas">Labot</button>
          <button id="dzestLidmasinas">Dzēst</button>
        </div>
      </div>
    </div>
    <div id="popUp3">
      <form id="form">
        <div class="miniapaksa">
          <div class="miniAugsa">
            <h2 id="miniVirsraksts">OrmondAir</h2>
          </div>
          <h3 class="tIzveletiesLidostu" id="apaksvirsraksti">Lidosta</h3>
          <input type="text" id="input" class="izveletiesLidostu"/>
          <h3 class="tPievienotModeli" id="apaksvirsraksti">Modelis</h3>
          <input type="text" id="input" class="pievienotModeli"/>
          <h3 class="tPievienotRazosanasGads" id="apaksvirsraksti">Ražošanas gads</h3>
          <input type="text" id="input" class="pievienotRazosanasGads"/>
          <h3 class="tPievienotVietuSkaits" id="apaksvirsraksti">Vietu Skaits</h3>
          <input type="text" id="input" class="pievienotVietuSkaits"/>
          <button type="submit" id="pievienotLidmasinasPoga" class="dzeltenaPoga">Pievienot</button>
          <button id="atcelt" class="atceltLielakaDala">Atcelt</button>
        </div>
      </form>
    </div>
    <div id="popUp4">
      <form id="form">
        <div class="miniapaksa">
          <div class="miniAugsa">
            <h2 id="miniVirsraksts">OrmondAir</h2>
          </div>
          <h3 class="tLabotLidmasinas" id="apaksvirsraksti">Lidosta</h3>
          <input type="text" id="input" class="labotLidmasinas"/>
          <h3 class="tLabotModeli" id="apaksvirsraksti">Modelis</h3>
          <input type="text" id="input" class="labotModeli"/>
          <h3 class="tLabotRazosanasGads" id="apaksvirsraksti">Ražošanas gads</h3>
          <input type="text" id="input" class="labotRazosanasGads"/>
          <h3 class="tLabotVietuSkaits" id="apaksvirsraksti">Vietu Skaits</h3>
          <input type="text" id="input" class="labotVietuSkaits"/>
          <button type="submit" id="labotLidmasinasPoga" class="dzeltenaPoga">Labot</button>
          <button id="atcelt" class="atceltLielakaDala">Atcelt</button>
        </div>
      </form>
    </div>
    <div id="popUp5">
      <form id="form">
        <div class="miniapaksa">
          <div class="miniAugsa">
            <h2 id="miniVirsraksts">OrmondAir</h2>
          </div>
          <h3 class="tIzveletiesLidostu" id="apaksvirsraksti">Lidosta</h3>
          <input type="text" id="input" class="izveletiesLidostu"/>
          <h3 class="tIzveletiesModeli" id="apaksvirsraksti">Modelis</h3>
          <input type="text" id="input" class="izveletiesModeli"/>
          <button type="submit" id="dzestLidmasinasPoga" class="dzeltenaPoga">Dzēst</button>
          <button id="atcelt" class="atceltLielakaDala">Atcelt</button>
        </div>
      </form>
    </div>
    <script src="/static/js/adminlidmasinas.js"></script>
  </body>
</html>