<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/adminlidmasinas.css" rel="stylesheet" />
    <title>OrmondAir: Admin Lidmasinas</title>
    <link rel="icon" href="/static/img/clipart-airplane-logo-4.jpg" />
  </head>
  <body>
    <div class="augsejaisBaneris">
      <a href="/">
        <h1 class="virsraksts">OrmondAir</h1>
      </a>
      <a href="/admin">
        <button id="atgriezties_admin">Atgriezties admin</button>
      </a>
    </div>
    <div class="apaksejaisBaneris">
      <div class="lidmasinas">
        <h2 class="nosaukumi">Lidmašīnas</h2>
        <button id="pievienotLidmasinas">Pievienot</button>
        <button id="labotLidmasinas">Labot</button>
        <button id="dzestLidmasinas">Dzēst</button>
      </div>
    </div>
  </body>