<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/stylesheet.css" rel="stylesheet" />
    <title>OrmondAir: Admin Reisi</title>
    <link rel="icon" href="/static/img/clipart-airplane-logo-4.jpg" />
  </head>
  <body>
    <div class="augsejaisBaneris">
      <a href="/">
        <h1 class="homePage">OrmondAir</h1>
      </a>
      <a href="/admin">
        <button id="atgriezties_admin">Atgriezties admin</button>
      </a>
    </div>
    <div class="apaksejaisBaneris">
      <h1 id="virsraksts">Reisi</h1>
      {% if tasks|length < 1 %}
      <h4 id="apaksraksts">Nav pievienots neviens reiss! </h4>
      {% else %}
      <table class="tabula">
        <tr class="tabula">
          <th class="teksts">Izlidošanas datums</th>
          <th class="teksts">Laiks</th>
          <th class="teksts">No</th>
          <th class="teksts">Uz</th>
          <th class="teksts">Pievienošanas datums</th>
          <th class="teksts">Darbības</th>
        </tr>
        {% for task in tasks %}
          <tr class="tabula">
            <td class="dbteksts">{{ task.datums }}</td>
            <td class="dbteksts">{{ task.laiks }}</td>
            <td class="dbteksts">{{ task.nolidostas }}</td>
            <td class="dbteksts">{{ task.uzlidostas }}</td>
            <td class="dbteksts">{{ task.date_created.date() }}</td>
            <td>
              <a href="/delete_reisi/{{task.id}}"><button id=dzest>Delete</button></a>
              <br>
              <a href="/update_reisi/{{task.id}}"><button id=labot>Update</button></a>
            </td>
          </tr>
        {% endfor %}
      </table>
      {% endif %}
      <form action="/admin/reisi" method="POST" id="form">
        <input class="input" type="date" min="date" type="text" name="datums" id="datums" placeholder="datums" required>
        <input class="input" type="time" type="text" name="laiks" id="laiks" placeholder="laiks" required>
        <select class="input" name="nolidostas" id="nolidostas" method="POST">
          {% for lidosta in lidostas %}
            <option value="{{lidosta.content}}">{{ lidosta.content }}</option>
          {% endfor %}
        </select>
        <select class="input" name="uzlidostas" id="uzlidostas" method="POST">
          {% for lidosta in lidostas %}
            <option value="{{lidosta.content}}">{{ lidosta.content }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Pievienot" id="pievienot">
      </form>
    <script src="/static/js/adminreisi.js"></script>
  </body>
</html>