<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/adminlidmasinas.css" rel="stylesheet" />
    <title>OrmondAir: Admin Lidmasinas</title>
    <link rel="icon" href="/static/img/clipart-airplane-logo-4.jpg" />
  </head>
  <body>
    <div class="augsejaisBaneris">
      <a href="/">
        <h1 class="virsraksts">OrmondAir</h1>
      </a>
      <a href="/admin">
        <button id="atgriezties_admin">Atgriezties admin</button>
      </a>
    </div>
      <div class="apaksejaisBaneris">
        <div class = "task">
        <h1 id = "virsraksts">Lidmašīnas</h1>
        {% if taks|length < 1 %}
        <h4 id = "apaksraksts">Nav pievienota neviena lidmašīna! </h4>
        {% else %}
        <table>
           <tr>
            <th class = "teksts">Lidosta</th>
            <th class = "teksts">Modelis</th>
            <th class = "teksts">Ražošanas gads</th>
            <th class = "teksts">Vietu skaits</th>
            <th class = "teksts">Pievienošanas datums</th>
            <th class = "teksts">Darbības</th>
          </tr>
          {% for task in task %}
            <tr>
              <td class = "dbteksts">{{ task.content }}</td>
              <td class = "dbteksts">{{ task.modelis }}</td>
              <td class = "dbteksts">{{ task.razosanas_gads }}</td>
              <td class = "dbteksts">{{ task.vietu_skaits }}</td>
              <td class = "dbteksts">{{ task.date_created.date() }}</td>
              <td>
                <a href="/delete/{{task.id}}"><button id = dzest>Delete</button></a>
                <br>
                <a id = labot href="/update/{{task.id}}"><button id = labot>Update</button></a>
              </td>
            </tr>
          {% endfor %}
        </table>
        {% endif %}
        <form action="/admin/lidostas" method="POST" id = "form">
          <dropdown>
          <input class = "input" type="text" name="modelis" id="modelis" maxlength="50">
          <input class = "input" type="text" name="razosanas_gads" id="razosanas_gads" maxlength="3">
          <input class = "input" type="text" name="vietu_skaits" id="vietu_skaits" maxlength="3">
          <input type="submit" value="Pievienot" id="pievienot">
        </form>
    </div>
      </div>
    <script src="/static/js/adminlidmasinas.js"></script>
  </body>
</html>