<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/adminlidostas.css" rel="stylesheet" />
    <title>OrmondAir: Admin Lidostas</title>
    <link rel="icon" href="/static/img/clipart-airplane-logo-4.jpg" />
  </head>
  <body>
    <div class="augsejaisBaneris">
      <a href="/">
        <h1 class="virsraksts">OrmondAir</h1>
      </a>
      <a href="/admin">
        <button id="atgriezties_admin">Atgriezties admin</button>
      </a>
    </div>
    <div class="apaksejaisBaneris">
      <div class="lidostas">
        <h2 class="nosaukumi">Lidostas</h2>
        <button id="pievienotLidostas">Pievienot</button>
        <button id="labotLidostas">Labot</button>
        <button id="dzestLidostas">Dzēst</button>
      </div>
    </div>
    <div id="popUp">
      <form id="pievienotLidostuForm">
        <div class="miniapaksa">
          <div class="miniAugsa">
            <h2 id="miniVirsraksts">OrmondAir</h2>
          </div>
          <h3 class="tPievienotLidostasNosaukums" id="apaksvirsraksti">Lidostas Nosaukums</h3>
          <input type="text" id="input" class="pievienotLidostasNosaukums" name="nosaukums"/>
          <h3 class="tPievienotSaīsinājums" id="apaksvirsraksti">Saīsinājums</h3>
          <input type="text" id="input" class="pievienotSaīsinājums"/>
          <h3 class="tPievienotAdrese" id="apaksvirsraksti">Adrese</h3>
          <input type="text" id="input" class="pievienotAdrese"/>
          <button type="submit" id="pievienotLidostu">Pievienot</button>
          <button id="atcelt" class="atcelt">Atcelt</button>
        </div>
      </form>
    </div>
    <div id="popUp1">
      <form id="form">
        <div class="miniapaksa">
          <div class="miniAugsa">
            <h2 id="miniVirsraksts">OrmondAir</h2>
          </div>
          <h3 class="tLabotLidostasizvele" id="apaksvirsraksti">Lidosta</h3>
          <input type="text" id="input" class="labotLidostasizvele"/>
          <h3 class="tLabotLidostasNosaukums" id="apaksvirsraksti">Lidostas Nosaukums</h3>
          <input type="text" id="input" class="labotLidostasNosaukums"/>
          <h3 class="tLabotSaīsinājums" id="apaksvirsraksti">Saīsinājums</h3>
          <input type="text" id="input" class="labotSaīsinājums"/>
          <h3 class="tLabotAdrese" id="apaksvirsraksti">Adrese</h3>
          <input type="text" id="input" class="labotAdrese"/>
          <button type="submit" id="labotLidostuPoga" class="dzeltenaPoga">Labot</button>
          <button id="atcelt" class="atceltLielakaDala">Atcelt</button>
        </div>
      </form>
    </div>
    <div id="popUp2">
      <form id="form">
        <div class="miniapaksa">
          <div class="miniAugsa">
            <h2 id="miniVirsraksts">OrmondAir</h2>
          </div>
          <h3 class="tdzestlidostas" id="apaksvirsraksti">Lidosta</h3>
          <input type="text" id="input" class="dzestlidostas"/>
          <button type="submit" id="dzestLidostuPoga" class="dzeltenaPoga">Dzēst</button>
          <button id="atcelt" class="atceltLielakaDala">Atcelt</button>
        </div>
      </form>
    </div>
    <script src="/static/js/adminlidostas.js"></script>
  </body>
</html>