<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/stylesheet.css" rel="stylesheet" />
    <title>OrmondAir: Admin Lidostas</title>
    <link rel="icon" href="/static/img/clipart-airplane-logo-4.jpg" />
  </head>
  <body>
    <div class="augsejaisBaneris">
      <a href="/">
        <h1 class="homePage">OrmondAir</h1>
      </a>
      <a href="/admin">
        <button id="atgriezties_admin">Atgriezties admin</button>
      </a>
    </div>
    <div class="apaksejaisBaneris">
      <h1 id="virsraksts">Lidostas</h1>
      {% if tasks|length < 1 %}
      <h4 id="apaksraksts">Nav pievienota neviena lidosta! </h4>
      {% else %}
      <table class="tabula">
        <tr class="tabula">
          <th class="teksts">Lidostas nosaukums</th>
          <th class="teksts">Saīsinājums</th>
          <th class="teksts">Adrese</th>
          <th class="teksts">Pievienošanas datums</th>
          <th class="teksts">Darbības</th>
        </tr>
        {% for task in tasks %}
          <tr class="tabula">
            <td class="dbteksts">{{ task.content }}</td>
            <td class="dbteksts">{{ task.saisinajums }}</td>
            <td class="dbteksts">{{ task.adrese }}</td>
            <td class="dbteksts">{{ task.date_created.date() }}</td>
            <td>
              <a href="/delete/{{task.id}}"><button id=dzest>Delete</button></a>
              <br>
              <a href="/update/{{task.id}}"><button id=labot>Update</button></a>
            </td>
          </tr>
        {% endfor %}
      </table>
      {% endif %}
      <form action="/admin/lidostas" method="POST" id="form">
        <input class="input" type="text" name="content" id="content" maxlength="50" placeholder="Lidostas nosaukums" required>
        <input class="input" type="text" name="saisinajums" id="saisinajums" maxlength="3" placeholder="Saīsinājums" required>
        <input class="input" type="text" name="adrese" id="adrese" maxlength="50"placeholder="Adrese" required>
        <input type="submit" value="Pievienot" id="pievienot">
      </form>
    </div>
    <script src="/static/js/adminlidostas.js"></script>
  </body>
</html>