<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/index.css" rel="stylesheet" />
    <title>OrmondAir: Sākums</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="icon" href="/static/img/clipart-airplane-logo-4.jpg" />
  </head>
  <body>
    <div class="augsejaisBaneris">
      <h1 class="virsraksts">OrmondAir</h1>
      <button id="ienakt">Ienākt</button>
      <a href="/rezervacijas"><button id="rezervacijas">Manas Rezervācijas</button></a>
      <button id="meklet">Meklēt</button>
      <input class="mekletNo" placeholder="No" required/>
      <input class="mekletUz" placeholder="Galamērķis" required/>
      <input type="date" id="datumsTurp" name="trip-start" min="2021-01-01" max="2021-12-31" required/>
      <input type="date" id="datumsAtpakal" name="trip-start" min="2021-01-01" max="2021-12-31" required/>
      <div class="">
        <input class="radio1" value="round"  type="radio" name="flight-type" checked=""><span class="celojumaVeids1">Round trip</span>
        <input class="radio2" value="oneway"  type="radio" name="flight-type"><span class="celojumaVeids2">One way</span>
       </div>  
    </div>
    <div class="apaksejaisBaneris">
      <div class="carousel-container">
        <i class="fas fa-arrow-left" id=prevBtn></i>
        <i class="fas fa-arrow-right" id="nextBtn"></i>
        <div class="carousel-slide">
          <img class="attels" src="/static/img/5.webp" id="lastClone" alt="" />
          <img class="attels" src="/static/img/1.jpg" alt="" />
          <img class="attels" src="/static/img/2.jpg" alt="" />
          <img class="attels" src="/static/img/3.jpg" alt="" />
          <img class="attels" src="/static/img/4.jpg" alt="" />
          <img class="attels" src="/static/img/5.webp" alt="" />
           <img class="attels" src="/static/img/1.jpg" id="firstClone" alt="" />
        </div>
      </div>
      <div class="carousel-container2">
      <i class="fas fa-arrow-left" id=prevBtn2></i>
      <i class="fas fa-arrow-right" id="nextBtn2"></i>
      <div class="carousel-slide2">
        <img class="attels" src="/static/img/5a.jpg" id="lastClone2" alt="" />
        <img class="attels" src="/static/img/1a.jpg" alt="" />
        <img class="attels" src="/static/img/2a.webp" alt="" />
        <img class="attels" src="/static/img/3a.jpg" alt="" />
        <img class="attels" src="/static/img/4a.jpg" alt="" />
        <img class="attels" src="/static/img/5a.jpg" alt="" />
        <img class="attels" src="/static/img/1a.jpg" id="firstClone2" alt="" />
      </div>
    </div>
    </div>
    <div id="popUp">
      <div class="form-box">
        <div class="miniAugsa">
          <img id="iziet" src="/static/img/iziet.png" alt="iziet"/>
          <h2 id="miniVirsraksts">OrmondAir</h2>
        </div>
        <div class="button-box">
          <div id="btn"></div>
          <button type="button" class="toggle-btn" onclick="login()">Log In</button>
          <button type="button" class="toggle-btn" onclick="register()">Register</button>
        </div>
        <form id="login" class="input-group">
          <input type="email" class="input-field" placeholder="E-pasts" required/>
          <input type="password" class="input-field" placeholder="Parole" required/>
          <input type="checkbox" class="check-box" /><span>Remember Password</span>
          <button type="submit" class="submit-btn">Login</button>
        </form>
        <form id="register" class="input-group">
          <input type="email" class="input-field" placeholder="E-pasts" required/>
          <input type="password" class="input-field" placeholder="Parole" required/>
          <input type="checkbox" class="check-box" required/>
          <div class="piekritNoteikumiem">Reģistrējoties jūs piekrītat OrmondAir konfidencialitātes politikai un lietošanas noteikumiem</div>
          <button type="submit" class="submit-btn">Register</button>
        </form>
      </div>
    </div>
    <script src="/static/js/index.js"></script>
  </body>
</html>
