<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/izvele.css" rel="stylesheet" />
    <title>OrmondAir</title>
    <link rel="icon" href="/static/img/clipart-airplane-logo-4.jpg" />
  </head>
  <body>
	  <div class="augsejaisBaneris">
		  <a href="/"><h1 class="virsraksts">OrmondAir</h1></a>
	  </div>
	  <div>
      <div class="fons">
          <span id="reisaNumursTeksts" class="reisaNumurs">Reisa numurs:</span>
          <span id="reisaNumurs" class="reisaNumurs">FR1976</span>
          {% for rezervacija in rezervacija %}
          <h id="dati" class="infoBilete">
            <option value="{{rezervacija.nolidostas}}">{{ rezervacija.nolidostas }}</option>
          </h>
          <h id="ielidosanasPilseta" class="infoBilete">
            <option value="{{rezervacija.uzlidostas}}">{{ rezervacija.uzlidostas }}</option>
          </h>
           <h id="atiesanasDatums" class="infoBilete">
            <option value="{{rezervacija.datumsno}}">{{ rezervacija.datumsno }}</option>
          </h>
          {% endfor %}
          <img class="lidmasina" src="/static/img/lidmasina.png"/>
          <span id="ilgums">Ilgums 1h 50min</span>
          <span id="atiesanasLaiks" class="infoBilete">19.55</span>
          <span id="ielidosanasLaiks" class="infoBilete">22.00</span>
          <span id="biletesCena" class="infoBilete"></span>
          <h1 class="cenas">*Cenas mainās katru sekundi!</h1>
      </div>
      <div class="pasazieris">
        <h1 class="miniVirsraksts">Pasažieris</h1>
        <h2 id="vards1">Vārds</h2>
        <h2 id="uzvards1">Uzvārds</h2>
        <h2 id="vecums1">Dzimšanas dati</h2>
        <h2 id="dzimums1">Dzimums</h2>
        <h2 id="tautiba1">Tautība</h2>
        <form action="/izvele" method="POST" id="form">
          <input class="input" type="text" name="vards" id="vards" maxlength="50" required/>
          <input class="input" type="text" name="uzvards" id="uzvards" maxlength="50" required/>
          <input class="input" type="date" min="date" name="vecums" id="vecums" required>
          <select class="input" name="dzimums" id="dzimums" required>
            <option>Sieviete</option>
            <option>Vīrietis</option>
          </select>
          <input class="input" type="text" name="tautiba" id="tautiba" maxlength="50" required/>
          <input type="submit" value="Rezervēt" id="rezervet">
        </form>
      </div>
    </div>
    <script src="/static/js/izvele.js"></script>
  </body>
</html>