<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/rezervacijas.css" rel="stylesheet" />
    <title>OrmondAir: Rezervacijas</title>
    <link rel="icon" href="/static/img/clipart-airplane-logo-4.jpg" />
  </head>
  <body>
    <div class="augsejaisBaneris">
      <a href="/">
        <h1 class="virsraksts">OrmondAir</h1>
      </a>
      <button id="iziet">Iziet</button>
    </div>
    <div class="apaksejaisBaneris">
      <div class="search">
        <input type="text" class="mekletReisu" placeholder="Search" />
        <img class="lupa" src="/static/img/lupa.png" />
      </div>
      <div class="bilete">
        <img class="bildeLidmasina" src="/static/img/lidmasina.png" alt="Lidmašīna" />
        <button id="pogaLabot">Labot</button>
        <button id="pogaDrukat">Drukat</button>
        <div id="tReisaNumurs">Reisa numurs:</div>
        <div id="reisaNumurs">FR1976</div>
        <div id="datums" class="tekstaNoformejums">09</div>
        <div id="menesis" class="tekstaNoformejums">Jūn.</div>
        <div id="laiksNo" class="tekstaNoformejums">19:55</div>
        <div id="izlidoNo" class="tekstaNoformejums">OSLO</div>
        <div id="laiksUz" class="tekstaNoformejums">19:55</div>
        <div id="izlidoUz" class="tekstaNoformejums">ALIKANTE</div>
        <div id="tRezervacijasNumurs">Rezervācijas numurs:</div>
        <div id="rezervacijasNumurs">AAA0000001</div>
      </div>
    </div>
    <script src="/static/js/rezervacijas.js"></script>
  </body>
</html>
