<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/statistika.css" rel="stylesheet" />
    <title>OrmondAir: Statistika</title>
    <link rel="icon" href="/static/img/clipart-airplane-logo-4.jpg" />
  </head>
  <body>
    <div class="augsejaisBaneris">
      <a href="templates/sakums.html">
        <h1 class="virsraksts">OrmondAir</h1>
      </a>
      <a href="admin.html"><button id="atpakal">Atpakaļ</button></a>
    </div>
    <div class="apaksejaisBaneris">
      <div class="kalendars">
        <img class="kalendarsBilde" src="/static/img/unknown.png" alt="Lidmašīna" />
      </div>
      <input type="text" class="reisaNumursKaste" placeholder="Reisa Numurs"></input>
      <div class="biletesLogs">
        <div class="bilete">
          <div id="datums">09 Jūn.</div>
          <div id="reisaNumurs">Reisa numurs:</div>
          <div id="reisaNumursSkaitlis">FR1976</div>
          <div class="vietasReisa">Vietas reisā:</div>
          <div id="vietasReisaNumurs">159/320</div>
        </div>
      </div>
      <button class="eksportet">Eksportēt</button>
    </div>
    <script src="/static/js/statistika.js"></script>
  </body>
</html>
