<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/stylesheet.css" rel="stylesheet" />
    <title>OrmondAir: Admin Lidostas</title>
    <link rel="icon" href="/static/img/clipart-airplane-logo-4.jpg" />
  </head>
  <body>
    <div class="augsejaisBaneris">
      <a href="/"><h1 class="homePage">OrmondAir</h1></a>
    </div>
    <div class="apaksejaisBaneris">
      <h1 id="virsraksts">Veikt Labojumus</h1>
      <form action="/update_reisi/{{task.id}}" method="POST" id="form">
        <input class="inputdate" type="date" min="date" type="text" name="datums" id="datums" value="{{task.datums}}" required>
        <input class="inputdate" type="time" type="text" name="laiks" id="laiks" value="{{task.laiks}}" required>
        <select class="input" name="nolidostas" id="nolidostas" method="POST">
          {% for lidosta in lidostas %}
            <option value="{{lidosta.content}}">{{ lidosta.content }}</option>
          {% endfor %}
        </select>
        <select class="input" name="uzlidostas" id="uzlidostas" method="POST">
          {% for lidosta in lidostas %}
            <option value="{{lidosta.content}}">{{ lidosta.content }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Update" id="pievienot">
      </form>
    </div>
  </body>
</html>