<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/stylesheet.css" rel="stylesheet" />
    <title>OrmondAir: Admin Lidostas</title>
    <link rel="icon" href="/static/img/clipart-airplane-logo-4.jpg" />
  </head>
  <body>
    <div class="augsejaisBaneris">
      <a href="/"><h1 class="homePage">OrmondAir</h1></a>
    </div>
    <div class="apaksejaisBaneris">
      <h1 id = "virsraksts">Veikt Labojumus</h1>
      <form action="/update/{{task.id}}" method="POST" id="form">
        <input class="input" type="text" maxlength="50" name="content" id="content" value="{{task.content}}" required>
        <input class="input" type="text" maxlength="3" name="saisinajums" id="saisinajums" value="{{task.saisinajums}}" required>
        <input class="input" type="text" maxlength="50" name="adrese" id="adrese" value="{{task.adrese}}" required>
        <input type="submit" value="Update" id="pievienot">
      </form>
    </div>
  </body>
</html>