<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/stylesheet.css" rel="stylesheet" />
    <title>OrmondAir: Admin Lidostas</title>
    <link rel="icon" href="/static/img/clipart-airplane-logo-4.jpg" />
  </head>
  <body>
    <div class="augsejaisBaneris">
      <a href="/">
        <h1 class="homePage">OrmondAir</h1>
      </a>
    </div>
    <div class="apaksejaisBaneris">
      <h1 id="virsraksts">Veikt Labojumus</h1>
      <form action="/update_lidmasinas/{{task.id}}" method="POST" id="form">
        <select class="input" name="content" id="content" method="POST">
          {% for lidosta in lidostas %}
            <option value="{{lidosta.content}}">{{ lidosta.content }}</option>
          {% endfor %}
        </select>
        <!--<input class="input" type="text" placeholder="lIDOSTA" name="content" id="content" value="{{task.content}}" maxlength="50" required>-->
        <input class="input" maxlength="50" type="text" name="modelis" id="modelis" value="{{task.modelis}}" required>
        <input class="input" maxlength="4" type="text" name="razosanas_gads" id="razosanas_gads" value="{{task.razosanas_gads}}" required>
        <input class="input" maxlength="4" type="text" name="vietu_skaits" id="vietu_skaits" value="{{task.vietu_skaits}}" required>
        <input type="submit" value="Update" id="pievienot">
      </form>
    </div>
  </body>
</html>